:root {
    --dark-blue: #187cc7;
    --table-border: 2pt solid var(--dark-blue);
    --table-grid: 1px solid #aaaaaa;
}

* {
    margin: 0;
    vertical-align: text-top;
}

html {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 10pt;
}

body
{
    margin: 5pt;
}

table {
    border: var(--table-border);
    border-collapse: collapse;
}

td {
    padding: 1pt;
    border: var(--table-grid);
    margin: 0;
}

.null {
    color: darkgreen;
    font-style: italic;
    font-weight: bold;
}

.property, .arrayColumn {
    font-weight: bold;
    background-color: #eeeeee;
    border: var(--table-grid);
    color: black;
}

.type {
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;
}

.value {
    background-color: white;
    font-weight: normal;
    color: black;
    border-right: var(--table-border) /* not sure, why I need this, but without tables with only 1 column will have the border from <td> */
}

.stringEmptyClass {
    background-color: white;
    font-family: 'Fira Code', 'Consolas', 'Lucida Console', 'Courier New', monospace;
    font-style: italic;
    color: blue;
}

.stringEmptyProperty {
    color: black;
}