:root {
    --dark-blue: #187cc7;
}

* {
    margin: 0;
    vertical-align: text-top;
}

html {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 10pt;
}

body
{
    margin: 5pt;
}

table {
    border: 2pt solid var(--dark-blue);
    border-collapse: collapse;
}

td {
    padding: 1pt;
    border: 1pt solid #aaaaaa;
    margin: 0;
}

.null {
    color: darkgreen;
    font-style: italic;
    font-weight: bold;
}

.property, .arrayColumn {
    font-weight: bold;
    background-color: #dddddd;
    border: 1px solid #aaaaaa;
    color: black;
}

.type {
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;
}

.value {
    background-color: white;
    font-weight: normal;
    color: black;
}